.wrapper #features {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 12rem 0;
}

.wrapper #features .features-itens {
    display: flex;
    align-items: center;
    justify-content:right;
    padding-right: 100px;
    width: 50vw;
}

.wrapper #features .features-itens .features-mp4 {
    width: 18rem;
}

.wrapper #features .features-itens .features-img {
    width: 20rem;
}

.wrapper #features .features-itens .features-itens-circle {
    display: flex;
    position: absolute;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    margin-right: 4rem;
}

.wrapper #features .features-itens .features-itens-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper #features .features-itens .features-itens-mp4 {
    width: 16rem;
    border-radius: 35px;
}

.wrapper #features .features-itens .features-itens-img {
    width: 18rem;
    position: absolute;
}


.wrapper #features .features-information {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.wrapper #features .features-information .features-information-itens {
    max-width: 420px;
    text-align: center;
}

.wrapper #features .features-information h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
}

.wrapper #features .features-information p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.4rem;
    color: #6c757d;
}

.wrapper #features .features-information .color-icon {
    color: #9f1ae2;
    font-size: 4.5rem;
    background: -webkit-linear-gradient(45deg, #2937f0, #9f1ae2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}