body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.wrapper #navbar {
    position: fixed;
    display: flex;
    width: 100vw;
    background-color: #FFF;
    font-family: 'Mulish', sans-serif;
    padding: 0.5rem 12rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 1;
}

.wrapper #navbar .navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.wrapper #navbar .navbar-left {
    display: flex;
    font-size: 1.6rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.wrapper #navbar .navbar-left .navbar-left-link {
    color: #000;
    text-decoration: none;
}

.wrapper #navbar .navbar-rigth {
    display: flex;
}

.wrapper #navbar .navbar-rigth-ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 3rem;
}

.wrapper #navbar .navbar-rigth-ul a {
    display: flex;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    padding-right: 3rem;
    font-family: 'Mulish', sans-serif;

}

.wrapper #navbar .navbar-rigth-ul #btn-navbar {
    font-size: 1rem;
    border: none;
    color: #FFF;
    background-color: #2937f0;
    font-family: 'Mulish', sans-serif;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.wrapper #navbar .navbar-rigth-ul #btn-navbar:hover {
    background-color: #1623d3;
}

.wrapper #navbar .navbar-rigth-ul #btn-navbar .fa {
    color: #FFF;
}

