.wrapper #second-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 12rem;
    background-color: #f8f9fa;
}

.wrapper #second-section .second-section-text {
    margin-right: 10rem;
}

.wrapper #second-section .second-section-text h5 {
    font-family: 'Newsreader', serif;
    font-size: 4rem;
    margin-bottom: 0;
}

.wrapper #second-section .second-section-text p {
    font-family: 'Mulish', sans-serif;
    color: #6c757d;
    font-size: 1.5rem;
}

.wrapper #second-section .second-section-image .second-section-image-img {
    width: 40rem;
    border-radius: 50%;
}