body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100ww;
    height: auto;
}

.wrapper #navbar {
    position: fixed;
    display: flex;
    width: 100vw;
    background-color: #FFF;
    font-family: 'Mulish', sans-serif;
    padding: 0 12rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.wrapper #navbar .navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.wrapper #navbar .navbar-left {
    display: flex;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.wrapper #navbar .navbar-rigth {
    display: flex;
   
}

.wrapper #navbar .navbar-rigth-ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    
}

.wrapper #navbar .navbar-rigth-ul a {
    display: flex;
    font-size: 1.2rem;
    text-decoration: none;
    padding-right: 3rem;
    font-family: 'Mulish', sans-serif;
    
}

.wrapper #navbar .navbar-rigth-ul #btn-navbar {
    font-size: 1rem;
    border: none;
    color: #FFF;
    background-color: #2937f0;
    font-family: 'Mulish', sans-serif;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
}

.fa-sharp {
    background-color: #000;
    display: block;
}

/*-------------------------------------------------------*/

.wrapper #main {
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa;
    padding: 10rem 12rem 0rem 12rem;
}


.wrapper #main .main-left {
    display: flex;
    flex-direction: column;

}

.wrapper #main .main-left .main-left-title h1 {
    font-family: 'Newsreader', serif;
    font-size: 4rem;
}

.wrapper #main .main-left .main-left-title p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.8rem;
    color: #6c757d
}

.wrapper #main .main-right {
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}

.wrapper #main .main-right .main-right-mp4 {
    width: 20rem;
}

.wrapper #main .main-right .main-right-img {
    width: 20rem;
    position: absolute;
    z-index: 1;
    
}

.wrapper #main .main-right .main-right-circle {
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    border-radius: 50%;
    width: 30rem;
    height: 30rem;
  
}


/*------------------------------------------------*/

.wrapper #first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    padding: 5rem 27rem;
    
}

.wrapper #first-section .first-section-text {
    font-family: 'Newsreader', serif;
    font-size: 2rem;
    color: #FFF;
    text-align: center;
}

.wrapper #first-section .first-section-img {
    width: 10rem;
}


/*------------------------------------------------*/

.wrapper #features {
    display: flex;
    background-color: #FFF;
    padding: 12rem;
}

.wrapper #features .features-itens {
    display: flex;
}

.wrapper #features .features-itens .features-mp4 {
    width: 10rem;
}

.wrapper #features .features-itens .features-img {
    width: 20rem;
}

.wrapper #features .features-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #6c757d;
}

.features-information-first {
    display: flex;

}

.features-information-first-pc img{
    width: 6rem;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
}

.features-information-second {
    display: flex;
  
}






/*------------------------------------------------*/

.wrapper #second-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 12rem;
    background-color: #f8f9fa;
}

.wrapper #second-section .second-section-text { 
   margin-right: 10rem;
}

.wrapper #second-section .second-section-text h5 {
    font-family: 'Newsreader', serif;
    font-size: 4rem;
    
}

.wrapper #second-section .second-section-text p {
    font-family: 'Mulish', sans-serif;
    color: #6c757d;
    font-size: 1.6rem;
}

.wrapper #second-section .second-section-image .second-section-image-img {
    width: 40rem;
    border-radius: 50%;
}

/*------------------------------------------------*/

.wrapper #third-section {
    display: flex;
    flex-direction: column;
    background: #000 url("../assets/img/background.png") no-repeat;
    background-size: cover;
    padding: 6rem;
    padding: 12rem;
    
}

.wrapper #third-section .third-section-text {
    font-family: 'Newsreader', serif;
    color: #FFF;
    font-size: 4rem;
    
    
}

.wrapper #third-section .third-section-btn {
    font-family: 'Newsreader', serif;
    font-size: 1.5rem;
    border: 1px solid #f8f9fa;
    background-color: transparent;
    font-family: 'Mulish', sans-serif;
    padding: 1.2rem;
    border-radius: 2rem;
    
}

.wrapper #third-section .third-section-btn:hover {
    background-color: #f8f9fa;
}


.wrapper #third-section .third-section-btn a {
    text-decoration: none;
    color: #f8f9fa;
}

.wrapper #third-section .third-section-btn a:hover {
    color: #000;
}

/*------------------------------------------------*/

.wrapper #download {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.wrapper #download .download-text {
    color: #FFF;
    font-size: 1.6rem;
    font-family: 'Kanit', sans-serif;
}

/*------------------------------------------------*/

.wrapper #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #000;
    padding: 2rem;
    font-family: 'Mulish', sans-serif;
    
}

.wrapper #footer .footer-text {
    color: rgba(255, 255, 255, 0.5);
    line-height: 0%;

}

.wrapper #footer .footer-links {
    display: inline-flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 0%;
   
}

.wrapper #footer .footer-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.6rem;
    
}





.btn-primary {
    background: #2937f0;
}

.kanit {
    font-family: 'Kanit', sans-serif;
}

.mulish {
    font-family: 'Mulish', sans-serif;
}

.newsreader {
    font-family: 'Newsreader', serif;
}

