body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.wrapper #navbar {
    position: fixed;
    display: flex;
    width: 100vw;
    background-color: #FFF;
    font-family: 'Mulish', sans-serif;
    padding: 0.5rem 12rem;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 2;
}

.wrapper #navbar .navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.wrapper #navbar .navbar-left {
    display: flex;
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.wrapper #navbar .navbar-rigth {
    display: flex;

}

.wrapper #navbar .navbar-rigth-ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-right: 3rem;
}

.wrapper #navbar .navbar-rigth-ul a {
    display: flex;
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    padding-right: 3rem;
    font-family: 'Mulish', sans-serif;

}

.wrapper #navbar .navbar-rigth-ul #btn-navbar {
    font-size: 1rem;
    border: none;
    color: #FFF;
    background-color: #2937f0;
    font-family: 'Mulish', sans-serif;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.wrapper #navbar .navbar-rigth-ul #btn-navbar:hover {
    background-color: #1623d3;
}

.wrapper #navbar .navbar-rigth-ul #btn-navbar .fa {
    color: #FFF;
}

/*-------------------------------------------------------*/

.wrapper #main {
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa;
    padding: 10rem 12rem 5rem 12rem;
}


.wrapper #main .main-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 6rem;

}

.wrapper #main .main-left .main-left-title h1 {
    font-family: 'Newsreader', serif;
    color: #212529;
    font-size: 4rem;

}

.wrapper #main .main-left .main-left-title p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.3rem;
    color: #6c757d;
    margin-bottom: 5rem;
}


.wrapper #main .main-rigth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.wrapper #main .main-rigth-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-rigth-circle {
    width: 24rem;
    height: 24rem;
}

.wrapper #main .main-rigth .main-rigth-mp4 {
    width: 14rem;
    border-radius: 35px;
}

.wrapper #main .main-rigth .main-rigth-img {
    width: 16rem;
    position: absolute;


}

.wrapper #main .main-rigth .circle {
    display: flex;
    position: absolute;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    border-radius: 50%;
    width: 30rem;
    height: 30rem;

}

.wrapper #main .main-rigth .main-rigth-phone {
    display: flex;
    position: absolute;

}




/*------------------------------------------------*/

.wrapper #first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    padding: 5rem;


}

.wrapper #first-section .first-section-text {
    font-family: 'Newsreader', serif;
    font-size: 1.8rem;
    color: #FFF;
    text-align: center;
    width: 65%;
}

.wrapper #first-section .first-section-img {
    width: 10rem;
}


/*------------------------------------------------*/

.wrapper #features {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    padding: 6rem 8rem;

}

.wrapper #features .features-itens {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50%;
    background-color: #012;
}

.wrapper #features .features-itens .features-mp4 {
    width: 16rem;
}

.wrapper #features .features-itens .features-img {
    width: 18rem;
}

.wrapper #features .features-itens .features-itens-circle {
    display: flex;
    position: absolute;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
}

.wrapper #features .features-itens .features-itens-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wrapper #features .features-itens .features-itens-mp4 {
    width: 12rem;
    border-radius: 20px;
}

.wrapper #features .features-itens .features-itens-img {
    width: 14rem;
    position: absolute;
}

.wrapper #features .features-information {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    background-color: #055;
    padding: 1rem;
}

.wrapper #features .features-information .features-information-itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    
}

.wrapper #features .features-information h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 0rem;
}

.wrapper #features .features-information p {
    font-family: 'Mulish', sans-serif;
    font-size: 1.2rem;
    color: #6c757d;
}

.wrapper #features .features-information .color-icon {
    color: #9f1ae2;
    font-size: 4rem;
}

/*------------------------------------------------*/

.wrapper #second-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8rem 12rem;
    background-color: #f8f9fa;
}

.wrapper #second-section .second-section-text {
    width: 45%;
    margin-right: 8rem;
}

.wrapper #second-section .second-section-text h5 {
    font-family: 'Newsreader', serif;
    font-size: 3.8rem;
    margin-bottom: 0;
}

.wrapper #second-section .second-section-text p {
    font-family: 'Mulish', sans-serif;
    color: #6c757d;
    font-size: 1.2rem;
}

.wrapper #second-section .second-section-image .second-section-image-img {
    width: 20rem;
    border-radius: 50%;
}

/*------------------------------------------------*/

.wrapper #third-section {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6) url("../assets/img/background.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    padding: 12rem;
}


.wrapper #third-section .third-section-text {
    font-family: 'Newsreader', serif;
    color: #FFF;
    font-size: 3rem;
}

.wrapper #third-section .third-section-btn {
    font-family: 'Newsreader', serif;
    font-size: 1.5rem;
    border: 1px solid #f8f9fa;
    background-color: transparent;
    font-family: 'Mulish', sans-serif;
    padding: 1.2rem;
    border-radius: 2rem;

}

.wrapper #third-section .third-section-btn:hover {
    background-color: #f8f9fa;
}


.wrapper #third-section .third-section-btn a {
    text-decoration: none;
    color: #f8f9fa;
}

.wrapper #third-section .third-section-btn a:hover {
    color: #000;
}

/*------------------------------------------------*/

.wrapper #download {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #2937f0, #9f1ae2);
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.wrapper #download .download-text {
    color: #FFF;
    font-size: 1.6rem;
    font-family: 'Kanit', sans-serif;
}

/*------------------------------------------------*/

.wrapper #footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #000;
    padding: 2rem;
    font-family: 'Mulish', sans-serif;

}

.wrapper #footer .footer-text {
    color: rgba(255, 255, 255, 0.5);
    line-height: 0%;

}

.wrapper #footer .footer-links {
    display: inline-flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 0%;

}

.wrapper #footer .footer-links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 0.6rem;

}